*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(227, 227, 227);
}

.band-container-fav{
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.band-name{
    margin: 20px auto;
}


.event-description{
    margin: 10px auto 20px auto;
    width: 60vw;
}

.date-time{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    width: 30vw;
    padding: 10px;
    margin: 5px auto;
}

.location{
    background-color: black;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    width: 40vw;
    padding: 10px;
    margin: 15px auto;
}

.favourite{
    width:40px;
    height: 40px;
}

.fav-button{
    border: 0px;
}

hr{
    margin:20px;
}